<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="5.2.3" targetFramework="net452" />
  <package id="Guna.Charts.WinForms" version="1.0.2" targetFramework="net452" />
  <package id="Guna.UI2.WinForms" version="2.0.2.3" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="Magic.ModernUI" version="1.0.0" targetFramework="net452" />
  <package id="QuikGraph" version="2.3.0" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net452" />
</packages>